html, body {
  margin : 0;
  padding : 0;
}
h2 {
  color: red;
}

.appContainer
{
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;
  margin-top: 0;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}
/* .appcontainer {
  margin: 0px auto 20px auto;
  padding-top: 24px;
  max-width: 400px;
  background-color: red;
} */

.todo-app {
  /* margin: auto; */
  margin-top: 30px;
  padding: 2rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow:0 4px 20px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width : 50%;
  min-width: 400px;
  color: #374151;
  justify-content: center;
  flex-wrap: wrap;
  /* ::placeholer: red; */

}
.todo-input{
  width : 80%;
  border: none;
  padding : 15px;
  box-shadow: 2px 2px 3px 2px red;
}
.todo-input:focus {
  outline: none;
  box-shadow: 2px 2px 8px 6px red;
}
.todoListContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.todoListRow{
  display: flex;
  flex-direction: row;
  align-items:center;
  /* padding : 0;
  align-items : center; */
  margin : 0;
  padding : 0;
  /* background-color: blue; */
  justify-content: center;
  border-bottom:  1px solid grey;


}
.todoText {
  margin-left: 20px;
  width : 70%;
}
.todoText h5 {
  font-size: 24px;
  /* background-color: yellow; */

}
.crossButton{
  margin-right: 0;

}
.checkallContainer{
  display : flex;
  flex-direction: row;
  border-bottom: 2px solid grey;
  border-top : 2px solid grey;
  align-items: center;
  justify-content: space-between;
}
.buttonsContainer {
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top:  5%;
}
.but {
  padding : 15px;
  margin-left: 10px;
}
